.create-modal__video_area {
  position: relative;
  flex: 360px;
  width: 360px;
}

.create-modal__video_area::before {
  display: block;
  content: '';
  width: 100%;
  padding-top: 56.25%;
}

@media screen and (max-width: 600px) {
  .create-modal__video_area {
    flex: auto;
    order: 1;
    margin-bottom: 1em;
    width: 100%;
  }
}
